<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Welcome to the Python/Flask Playground</h1>

        <p>
            This is where I experiment and learn about making things in Python.
            Contains code from Pluralsight courses:
            <ul>
                <li>Core Python: Getting Started</li>
                <li>Flask: Getting Started</li>
            </ul>
            in the <a href="https://app.pluralsight.com/channels/details/75ed384c-8c16-4502-ae52-c243750f19de">Alight Analytics Channel</a>
        </p>
        <img src="/static/red_blue.jpg" alt="Red and Blue cars"/>
        <p>
            {{message}}
        </p>
    </body>
</html>